.custom-card {
  background: #243137;
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

#logo-main,
#logo-second {
  height: 100%;
}

#logo-main {
  fill: #e730ca;
}

#logo-second {
  padding-bottom: 10px;
  fill: none;
  stroke: #e730ca;
  stroke-width: 1px;
}

.custom-border {
  position: absolute;
  inset: 0px;
  border: 2px solid #e730ca;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.bottom-text {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  color: #e730ca;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  padding: 0 5px;
  transition: all 0.5s ease-in-out;
}

.content {
  transition: all 0.5s ease-in-out;
}

.content .logo {
  height: 35px;
  position: relative;
  width: 88px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.content .logo .logo1 {
  height: 33px;
  position: absolute;
  left: 0;
}

.content .logo .logo2 {
  height: 33px;
  position: absolute;
  left: 89px;
}

.content .logo .trail {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.content .logo-bottom-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  color: #e730ca;
  padding-left: 8px;
  opacity: 0;
  letter-spacing: none;
  transition: all 0.5s ease-in-out 0.5s;
}

.custom-card:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.custom-card:hover .logo {
  width: 170px;
  animation: opacity 1s ease-in-out;
}

.custom-card:hover .custom-border {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.custom-card:hover .bottom-text {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.custom-card:hover .content .logo-bottom-text {
  opacity: 1;
  letter-spacing: 9.5px;
}

.custom-card:hover .trail {
  animation: trail 1s ease-in-out;
}

@keyframes opacity {
  0% {
    border-right: 1px solid transparent;
  }

  10% {
    border-right: 1px solid #e730ca;
  }

  80% {
    border-right: 1px solid #e730ca;
  }

  100% {
    border-right: 1px solid transparent;
  }
}

@keyframes trail {
  0% {
    background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(231, 48, 202) 100%);
    opacity: 0;
  }

  30% {
    background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(231, 48, 202) 100%);
    opacity: 1;
  }

  70% {
    background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(231, 48, 202) 100%);
    opacity: 1;
  }

  95% {
    background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(231, 48, 202) 100%);
    opacity: 0;
  }
}
