.l-text-component {
  box-sizing: border-box;
  white-space: pre-wrap;
}

h2.l-text-component,
p.l-text-component {
  margin-bottom: 0;
}

button.l-text-component {
  padding: 5px 10px;
  cursor: pointer;
}
